//colors
$color-primary: rgb(0, 0, 0);
$color-secondary: rgb(255, 255, 255);
$color-tertiary: rgb(105, 105, 105);
$color-quaternary: rgb(163, 163, 163);
$color-bg-screen: rgb(226, 226, 226);
$color-border: $color-bg-screen;

$size-button-nav: 1.5rem;
$size-logo: 8.5rem;
$size-thumbnail: 5.625rem;

$space-inline-blocks: 1rem;

$button-event: 0.8;